 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap');

.meme-generator{
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.meme-generator img{
    height: 29rem;
    object-fit: cover;
}
.meme-generator .generate-meme-btn{
    padding: .5rem 1.5rem;
    font-size: 1.5rem;
    /* font-style: bold;
    font-weight: 700; */
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222;
    color: #f64d4d;
    background: #fff;
    margin: 1.5rem 0;
    cursor: pointer;
 transition: all 400ms ease; 
}
.meme-generator .generate-meme-btn:hover{
    padding: .5rem 2.1rem;
    border-left: 8px solid #222;
    border-right: 8px solid #222;
    letter-spacing: 3px;
} 
.meme-generator .meme-author{
    margin: .5rem;
}